@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Montserrat:wght@200;400;700;900&display=swap');

:root,
:root::after,
:root::before {
  --clr-pri: #09090a;
  --clr-sec: #131313;
  --clr-ctx: #40b66b;
  --clr-txt: #e2e2e2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: var(--clr-pri);
  color: var(--clr-txt);
}

.container {
  width: 60%;
  margin: auto;
}

.spacer {
  margin-bottom: 10rem;
}

.image-container {
  position: relative;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--clr-txt);
  font-size: 1em;

  &:hover {
    color: var(--clr-ctx);
  }
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

header {
  padding: 2rem 0 7rem 0;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-family: 'Kurale', serif;
      font-size: 1.7em;
    }

    ul {
      display: flex;
      align-items: center;
    }
  }
}

main {
  section#intro {
    h1 {
      text-align: right;
      color: var(--clr-ctx);
      font-weight: 800;
    }

    h3 {
      margin: 12rem 0 6rem 0;
      text-align: center;
    }
  }

  section#about {
    .text-container {
      position: absolute;
      margin: 7rem 20% 0 20%;
      top: 0;
      left: 0;

      h2 {
        margin-bottom: 1rem;

        &:not(:first-child) {
          margin-top: 3rem;
        }
      }

      span {
        color: var(--clr-ctx);
      }

      ul.materials {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;

        li {
          background: var(--clr-sec);
          padding: 1em;
          border-radius: 5px;
          font-size: 1.2em;
        }
      }
    }
  }
}

footer {
  padding: 10rem 0 10rem 0;

  p {
    font-size: 1em;
    text-align: center;
  }
}
