@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Montserrat:wght@200;400;700;900&display=swap');

:root {
  --clr-pri: #09090a;
  --clr-sec: #191919;
  --clr-thr: #565656;
  --clr-frh: #2d2d2d;
  --clr-fth: #737373;
  --clr-ctx: #40b66b;
  --clr-txt: #e2e2e2;
  --clr-bar: #474747;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: var(--clr-pri);
  color: var(--clr-txt);
  overflow-x: hidden;
}

a,
li,
input,
button {
  transition: all 0.2s ease-out;
}

.container {
  width: 60%;
  margin: auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--clr-txt);
  font-size: 1em;

  &:hover {
    color: var(--clr-ctx);
  }
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

button,
.btn {
  display: inline-block;
  background: none;
  border: none;
  color: var(--clr-txt);
  cursor: pointer;
}

header {
  padding: 2rem 0 8rem 0;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-family: 'Kurale', serif;
      font-size: 1.7em;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 1rem;

      .btn {
        padding: 0.5rem 0.7rem;
        background: var(--clr-ctx);
        color: var(--clr-pri);
        font-weight: 700;
        border-radius: 1px;

        &:hover {
          background: var(--clr-thr);
          color: var(--clr-ctx);
        }
      }
    }
  }
}

main {
  section#intro {
    margin-bottom: 8rem;

    h3 {
      margin-top: 12rem;
      text-align: center;
      font-weight: 200;
    }

    .img {
      margin-top: 2rem;
      display: flex;
      justify-content: flex-end;

      img {
        width: 50%;
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      }
    }
  }

  section#about {
    background: var(--clr-sec);
    padding: 8rem 0 8rem 0;

    h2 {
      margin-bottom: 1.4rem;

      &:not(:first-child) {
        margin-top: 6rem;
      }
    }

    p {
      margin-bottom: 1.2rem;
    }

    span {
      color: var(--clr-ctx);
    }

    ul.materials {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 1rem;

      li {
        background: var(--clr-pri);
        padding: 1em;
        border-radius: 5px;
        font-size: 1.2em;

        &:nth-child(1):hover {
          background-color: gold;
          color: var(--clr-pri);
        }

        &:nth-child(2):hover {
          background-color: silver;
          color: var(--clr-pri);
        }

        &:nth-child(3):hover {
          background-color: #e5e4e2;
          color: var(--clr-pri);
        }

        &:nth-child(4):hover {
          background-color: #b87333;
          color: var(--clr-pri);
        }

        &:nth-child(5):hover {
          background-color: #cccccc;
          color: var(--clr-pri);
        }

        &:nth-child(6):hover {
          background-color: #b1b1b1;
          color: var(--clr-pri);
        }

        &:nth-child(7):hover {
          background-color: #818181;
          color: var(--clr-pri);
        }

        &:nth-child(8):hover {
          background-color: #070550;
          color: var(--clr-txt);
        }
      }
    }
  }

  section#buy {
    margin: 8rem 0 8rem 0;

    h3 {
      margin-bottom: 2rem;
    }
    .form-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;

      div {
        display: flex;
        flex-direction: column;

        .field {
          width: 100%;
          outline: none;
          border: none;
          background-color: var(--clr-sec);
          padding: 0.8rem 1rem;
          margin-bottom: 1rem;
          font-size: 1.3em;
          color: var(--clr-txt);

          &::placeholder {
            color: var(--clr-thr);
          }

          &:hover {
            background-color: var(--clr-frh);
          }

          &:focus {
            background-color: var(--clr-fth);
          }
        }

        .btn {
          padding: 0.8rem 1rem;
          font-weight: 700;
          border-radius: 1px;
          font-size: 1.3em;
          background: var(--clr-ctx);
          color: var(--clr-pri);

          &:hover {
            background: var(--clr-thr);
            color: var(--clr-ctx);
          }
        }
      }
    }
  }
}

footer {
  padding: 10rem 0 10rem 0;
  border-top: 0.5px solid var(--clr-bar);

  p {
    font-size: 1em;
    text-align: center;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 5rem;
    font-size: 0.8em;

    li {
      &:hover {
        color: var(--clr-ctx);
      }
    }
  }
}
