@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Montserrat:wght@200;400;700;900&display=swap');

:root,
:root::after,
:root::before {
  --clr-pri: #09090a;
  --clr-sec: #44b09f;
  --clr-txt: #e2e2e2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: var(--clr-pri);
  color: var(--clr-txt);
}

.container {
  width: 60%;
  margin: auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--clr-txt);
  font-size: 1em;
}

ul {
  list-style-type: none;
}

header {
  padding: 1rem 0 0 0;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-family: 'Kurale', serif;
      font-size: 1.7em;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 1.5em;
    }
  }
}
